@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Fira+Code:wght@400;500&display=swap');

@import "tailwindcss";
@config "../tailwind.config.js";

body {
    @apply bg-code-black text-gray-200 font-sans antialiased;
}

.code-font {
    @apply font-mono;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
::-webkit-scrollbar-track {
    @apply bg-code-black;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, #031801, #0a0a0a);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(180deg, #021702, #131313);
    box-shadow: 0 0 8px rgba(3, 26, 11, 0.4);
}

/* Firefox scrollbar */
* {
    scrollbar-width: thin;
    scrollbar-color: #031801 #0a0a0a;
}


